.ProductPreview{
    width: 100%;
    /* margin-top: 12rem; */
    position:relative;
  }
  .ProductPreview > img{
    width: 100%;
  }
  .TimeSection{
  position:absolute;
  top:48%;
  left:49%;
  transform: translate(-50%,-50%);
  color:#fff;
  font-size:25px;
  font-weight: 500px;
  }
  .HeartBeatSection{
  position:absolute;
  top:48%;
  left:49%;
  transform: translate(-50%,-50%);
  color:#fff;
  font-size:25px;
  font-weight: 500px;
  }
  .HeartBeatSection > i{
    color:#ff0005;
    animation: beat 1s infinite;
  }
  @keyframes beat{
    0%{
      transform:scale(1,1);
    }
    50%{
      transform:scale(1.2,1.2);
    }
    100%{
      transform:scale(1.5,1.5);
    }
  }
  .HeartBeatSection > p{
    font-size: 16px;
    margin-left: 4px;
  }